## `.gitignore`

```gitignore
**/.DS_Store
**/*.pem
**/*.key
**/*.crt
**/*.p12
**/*.pcap
docker/ldap/env/ldap.env
docker/web/apache/ssl/live/
docker/ldap/certs/live/
.vscode
*.terraform*
*terraform.*
